.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div {
  box-sizing: border-box;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.post {
  padding-left: 15px;
  padding-right: 15px;
  text-align-last: left;
  border: 1px solid #dedede;
  border-top: 1px solid #fff;
  border-radius: 10px;
  margin: 4px 2px;
}

.post-area:active {
  border-radius: 0px;
}

.w-date {
  font-style: italic;
  font-weight: 300;
}

.like-comment-zone {
  padding-bottom: 10px;
}

.btn-area {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.rotate-btn {
  width: 70px;
  padding: 10px;
  background: black;
  color: white;
  border-radius:12px;
  margin: 8px 4px 0px;
}

.rotate-btn:hover {
  background: #313235;
  color: rgb(219, 219, 219);
}

.sort-btn {
  width: 70px;
  padding: 10px;
  background: black;
  color: white;
  border-radius:12px;
  margin: 8px 4px 0px;
}

.sort-btn:hover {
  background: #313235;
  color: rgb(219, 219, 219);
}

.detail-area {
  padding: 20px;
  background: #efefef;
  text-align: left;
  border: 1px solid #efedef;
  border-radius: 10px;
}

.input-area {
  margin: 10px 40%;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.input-area > input,textarea,button {
  margin: 2px auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  width: 70px;
  padding: 10px;
  background: black;
  color: white;
  font-size: small;
  border-radius:12px;
  margin: 10px 3px 6px;
}

.delete-btn:hover {
  background: #313235;
  color: rgb(219, 219, 219);
}

.enroll-btn {
  width: 70px;
  padding: 10px;
  background: black;
  color: white;
  font-size: small;
  border-radius:12px;
  margin: 6px auto 6px;
}

.enroll-btn:hover {
  background: #313235;
  color: rgb(219, 219, 219);
}